

 @font-face {
    font-family: "Orbitron";
    src: url("/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
} 

 @font-face {
    font-family: "Archivo Black";
    src: url("/fonts/ArchivoBlack-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 

 @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
} 

 @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} 

 @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} 

 @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 100 699;
    font-style: normal;
    font-display: swap;
} 

 @font-face {
    font-family: "Facon";
    src: url("/fonts/Facon.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 

 @font-face {
    font-family: "Cairo";
    src: url("/fonts/Cairo-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
} 

 @font-face {
    font-family: "B612";
    src: url("/fonts/B612-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "B612";
    src: url("/fonts/B612-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} 

